@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<script>
function loadData() {
    var xhttp = new XMLHttpRequest();

    xhttp.onreadystatechange = function () {
        if (xhttp.readyState == 4 && xhttp.status == 200) {
            // Convert the text response to a JSON object
            var obj = JSON.parse(xhttp.responseText);

            document.getElementById("photo").innerHTML = "<img src='" + obj.photo + "' />";
            document.getElementById("name").innerHTML = "<h2>" + obj.name + " " + obj.surname + "</h2>";
            document.getElementById("region").innerHTML = obj.region;
            document.getElementById("age").innerHTML = obj.age;
            document.getElementById("birthday").innerHTML = obj.birthday.mdy;
            document.getElementById("email").innerHTML = "<a href='mailto:" + obj.email + "'>" + obj.email + "</a>";
            document.getElementById("cc_number").innerHTML = obj.credit_card.number;
            document.getElementById("cc_expiration").innerHTML = obj.credit_card.expiration;
            document.getElementById("cc_cvv").innerHTML =obj.credit_card.security;
        }
    };
    
    xhttp.open("GET", "http://uinames.com/api/?ext", true);
    xhttp.send();
};
</script>

<div class="row">
    <div class="col-md-12 text-center" id="name"></div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-2" id="photo"></div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3 text-right">Region:</div>
            <div class="col-md-7" id="region"></div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3 text-right">Age:</div>
            <div class="col-md-7" id="age"></div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3 text-right">Birthday:</div>
            <div class="col-md-7" id="birthday"></div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3 text-right">Email:</div>
            <div class="col-md-7" id="email"></div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3 text-right">Credit Card:</div>
            <div class="col-md-7" style="background-color: #ddd;">
                <div class="row">
                    <div class="col-md-2 text-right">Number:</div>
                    <div class="col-md-10 text-center" id="cc_number"></div>
                </div>        
                <div class="row">
                    <div class="col-md-3 text-right">Expiration:</div>
                    <div class="col-md-3 text-left" id="cc_expiration"></div>
                    <div class="col-md-3 text-right">CVV:</div>
                    <div class="col-md-3 text-left" id="cc_cvv"></div>
                </div>        
            </div>
            <div class="col-md-1"></div>
        </div>


    </div>
    <div class="col-md-2"></div>
</div>



<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6" style="padding-top: 20px;"><button type="button" class="btn btn-primary" onclick="loadData()">Click me!</button></div>
    <div class="col-md-2"></div>
</div>

<script>
    window.onload = function () {
        loadData();
    };
</script>