@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="container">
    <div class="jumbotron">
        <h1 class="text-center">Hello World!</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Locale: en-us</h2>
    </div>
    <div class="col-md-8">
        <img style="padding:50px;" src="http://lorempixel.com/400/200/city" alt="">
    </div>
</div>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"><button type="button" class="btn btn-primary" onclick="">Howdy!</button></div>
    <div class="col-md-4"></div>
</div>
